@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --clr-white: #fff;
  --clr-primary: #ffc610;
  --clr-black-txt: #1a1a1a;
  --clr-border: #707070;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Playfair Display", serif;
  background-image: url("assets/body_bg.png");
  /* background: #ffc610; */
}
.section_container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
section {
  margin-top: 8rem;
}
section > h1,
section > h3 {
  text-align: center;
  color: var(--clr-black-txt);
}
a {
  color: var(--clr-white);
  font-family: 'Poppins', sans-serif;
}
a.active {
  color: var(--clr-primary);
}
a:hover {
  color: var(--clr-primary);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ================================================================= MEDIA QUERIES (MEDIUM DEVICES) ================================================================= */

@media screen and (max-width: 1024px) {
  .section_container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}

/*===============================nav ===========================*/

.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/1583161706_MithilaArt_BleedImage.png");
  /* height: 80vh; */
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-links {
  gap: 5rem;
  margin: 2rem auto;
}
nav .nav-social {
  gap: 2rem;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 9rem 0;
}
header h1 {
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 300;
}
header h3 {
  color: var(--clr-white);
  font-size: 4rem;
}
header p {
  color: var(--clr-white);
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
header h3 span {
  color: var(--clr-primary);
}
/*========================welcome section =============================*/
.wecome-page {
    margin-top:0;
}
.welcome__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: var(--container-width-lg);
  margin: 0 auto;
}
.welcome__section img{
    width:30%;
}
.welcome__section p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.welcome__section h1 {
  position: relative;
  font-size: 4rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.welcome__section h1:before {
    content: "";
    display: block;
    width: 35%;
    height: 1px;
    background: black;
    left: 0;
    top: 50%;
    position: absolute;
  }
  .welcome__section h1:after {
    content: "";
    display: block;
    width: 35%;
    height: 1px;
    background: black;
    right: 0;
    top: 50%;
    position: absolute;
  }
.welcome__section button {
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.welcome__section button span {
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
/*========================section explore=============================*/
.section__explore {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  gap: 3rem;
  width: var(--container-width-sm);
}
.section__explore .part1 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.section__explore .part1 .slider_img {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
}
.section__explore .part1 .slider_img img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}
.section__explore .part2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 4rem;
}
.section__explore .part2 button {
  display: flex;
  background: transparent;
  align-items: center;

  gap: 1rem;
}
.section__explore .part2 button img {
  width: unset;
}
.section__explore .part2 button span {
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 600;
}
.section__explore .part2 h1 {
  font-size: 3rem;
  font-weight: 600;
}
.section__explore .part2 h1 span {
  color: var(--clr-primary);
  font-family: 'Poppins', sans-serif;
}
.section__explore .part2 h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.2px;
}
.section__explore .part2 p {
    font-family: 'Poppins', sans-serif;
}
/*======================== cultural Renaissance =============================*/
.culture_bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("assets/side_img-3.png");
    /* height:100%; */
    background-repeat: no-repeat;
  /* height: 80vh; */
}
.culture{
    width: var(--container-width-lg);
    margin:0 auto;
    display:grid;
    margin-top:6rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    padding:5rem 0;


}
.culture_content{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.culture_content h1{
    font-size: 4rem;
    font-weight: 600;
    color: var(--clr-primary);
}
.culture_content h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: var(--clr-white);
}
.culture_content p{
 
    color: var(--clr-white);
    font-family: 'Poppins', sans-serif;
}
.culture_content button{
    display: flex;
    background: transparent;
    align-items: center;
  
    gap: 1rem;
}
.culture_content button img {
    width: unset;
  }
  .culture_content button span {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-white);
    font-family: 'Poppins', sans-serif;
  }

  /* ==============================instagram post =============================*/
  .instagram{
      display: flex;
      flex-direction: column;
      gap: 6rem;
      padding-top: 6rem;
      align-items: center;
      overflow: hidden;
  }
  .insta_content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
      gap: 0.5rem;
  }
  .insta_content h1{
     font-size:4rem;
     font-weight:600;
  }
  .insta_img{
      display: flex;
      gap: 1rem;
  }
  /*======================== footer section =============================*/
  footer{
      position: relative;
  }
  .footer_links{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;
      padding-top: 6rem;
      background:white;
  }
  .footer_links li a{
      color: var(--clr-black-txt)
  }


  .copyright{
      background:var(--clr-black-txt);
      position:absolute;
      width:100%;
      left:0;
      bottom: -2rem;

      
  }
  .copyright_container{
      width: var(--container-width-lg);
      margin:0 auto;
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding:2rem 0;
      
  }
  .copyright_container span{
   color: var(--clr-white);

  }
  .copyright_container .footer_sec2 {
   display: flex;
   gap: 2rem;

  }
  .copyright_container .footer_sec2 ul{
   display: flex;
   gap: 1rem;

  }
  .copyright_container .footer_sec2 span{
   color: var(--clr-white);

  }
  footer .footer_logo{
    z-index: 1;
  }